<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
    <servlet>
        <servlet-name>TestCaseServlet</servlet-name>
        <servlet-class>com.qahub.TestCaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestCaseServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
